body {
    font-size: 17px;
    font-family: Arial, sans-serif;
}

#main-container {
    margin: 15px auto 0;
    width: 70%;
}

h1 {
    color: #5EACF5;
}

.modal h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

.modal-body {
    margin: 0 auto;
    width: 80%;
    font-size: 22px;
}

.modal-body label {
    color: #999999;
}

.modal-body button {
    margin-top: 30px;
    text-transform: uppercase;
    padding: 10px;
    width: 70%;
    border-radius: 10px;
    color: #333;
    background-color: transparent;
    border-color: #adadad;
}

.modal label {
    padding: 0;
    margin: 0;
}

#search-container  {
    margin: 15px 0 30px;
}

ul {
    padding: 0;
}

.home ul li {
    list-style-type: none;
    margin: 20px 0;
}

ul li {
    border: solid 1px rgba(108, 117, 125, 0.3);
    margin: 20px 0;
    list-style-type: none;
}

div.itemContent p {
    margin: 0;
    padding: 0;
}

div.itemContent, div.storeContent {
    padding: 15px;
}

p.itemName {
    font-weight: bold;
    font-size: 19px;
}

input[type=button] {
    background-color: #73BE1E;
    border: inherit;
    color: #000;
    text-transform: uppercase;
    padding: 20px;
    width: 85%;
    border-radius: 10px;
    cursor:pointer;
}

.home input[type=button] {
    width: 35%;
}

.itemDescription a, .itemDescription a:hover, .itemDescription a:visited, .itemDescription a:link, .itemDescription a:active {
    text-decoration: none;
    color: #212529;
}

.note {
    font-size: 15px;
    font-style: italic;
}